<form id="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">


</form>

<form id="form-expense" [formGroup]="expenseForm" (ngSubmit)="addProperty()">

  <label for="first-name">Name: </label>
  <input id="first-name" type="text" formControlName="name">


  <button type="submit" [disabled]="!expenseForm.valid">Submit</button>
</form>